In [8]:
import pandas as pd

dict1 = {"Fruit":["Mango","Apple","Banana","Papaya"],
        "price":[100,150,50,35],
        "Quantity":[10,5,7,34]}

df = pd.DataFrame(dict1)
df.head()

df2 = df.copy()
df2.loc[0,"Price"]=120
df2.loc[1,"Price"]=175
df2.loc[3,"Price"]=130
df2.loc[0,"Quantity"]=12
df2.loc[1,"Quantity"]=30
df2.loc[3,"Quantity"]=20

df2.head()

    Fruit  price  Quantity  Price
0   Mango    100        12  120.0
1   Apple    150        30  175.0
2  Banana     50         7    NaN
3  Papaya     35        20  130.0