In [29]:
import pandas as pd

data1  = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
         "Name":["Ram","Shayam","Rahul","Vishal","Sohan","Ravi"],
         "Age":["36","56","46","44","65","63"]}

data2 = {"Emp Id":["E01","E07","E03","E04","E08","E06"],
         "Salary":[45000,56000,34000,30000,50000,67000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1.to_markdown())
print()
print(df2)

|    | Emp Id   | Name   |   Age |
|---:|:---------|:-------|------:|
|  0 | E01      | Ram    |    36 |
|  1 | E02      | Shayam |    56 |
|  2 | E03      | Rahul  |    46 |
|  3 | E04      | Vishal |    44 |
|  4 | E05      | Sohan  |    65 |
|  5 | E06      | Ravi   |    63 |

  Emp Id  Salary
0    E01   45000
1    E07   56000
2    E03   34000
3    E04   30000
4    E08   50000
5    E06   67000

In [31]:
print(pd.merge(left=df1,right=df2,on = "Emp Id",how="right"))

  Emp Id    Name  Age  Salary
0    E01     Ram   36   45000
1    E07     NaN  NaN   56000
2    E03   Rahul   46   34000
3    E04  Vishal   44   30000
4    E08     NaN  NaN   50000
5    E06    Ravi   63   67000

In [39]:
import pandas as pd

data1  = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
         "Name":["Ram","Shayam","Rahul","Vishal","Sohan","Ravi"],
         "Age":["36","56","46","44","65","63"]}

data1  = {"Emp Id":["E07","E08","E09","E10","E11","E12"],
         "Name":["Chandan","Prem","Dharmendra","Suraj","Sampat","Rausan"],
         "Age":["36","56","46","44","65","63"]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1.to_markdown())
print()
print(df2)

|    | Emp Id   | Name       |   Age |
|---:|:---------|:-----------|------:|
|  0 | E07      | Chandan    |    36 |
|  1 | E08      | Prem       |    56 |
|  2 | E09      | Dharmendra |    46 |
|  3 | E10      | Suraj      |    44 |
|  4 | E11      | Sampat     |    65 |
|  5 | E12      | Rausan     |    63 |

  Emp Id  Salary
0    E01   45000
1    E07   56000
2    E03   34000
3    E04   30000
4    E08   50000
5    E06   67000